In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#import data
df = pd.read_excel("../../../Downloads/indicateurs-macroeco-revenu-national-brute_2010-2020.xlsx")
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Indicateurs macro-économiques,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Moyenne,NaN,NaN,NaN,NaN,NaN
2,NaN,1905-06-18 00:00:00,2010-15,2016.0,2017.0,2018.0,2019.0,2020.0
3,Revenu national brut disponible aux prix coura...,NaN,931510.166667,1073422.0,1126892.0,1161510.0,1204178.0,1153319.0
4,Ressources,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Revenu national brut,NaN,861542.666667,993750.0,1042207.0,1086860.0,1130276.0,1073397.0
6,PIB,NaN,877305.166667,1013229.0,1063045.0,1108463.0,1152806.0,1089521.0
7,Revenu de la propriété net en provenance de l'...,NaN,877305.166667,-19479.0,-20838.0,-21603.0,-22530.0,-16124.0
8,Transferts courants nets en provenance de l'ex...,NaN,69967.5,79672.0,84685.0,74650.0,73902.0,79922.0
9,Emplois,NaN,NaN,NaN,NaN,NaN,NaN,NaN